*{
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 15px;
    width: 100%;
}
.d-flex{display: flex;}
.a-items{
    align-items: center;
    height: 100%;
}
.j-between{justify-content: space-between;}
ul{gap: 10px}
li > div{display: none;}